.Home {
  height: 100vh;
  width: 100vw;
  color: rgb(20, 20, 20);
  cursor: default;

  .presentation {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

